frontend.zip
# Ignore temporary OS files
.DS_Store
Thumbs.db

# Backend dependencies
backend/node_modules/
backend/recochapp.db

implementation_plan.md
Planeación de Web para Fútbol Amateur.docx
Informe_Inicial_RecochApp (1).docx
Diseño de Base de Datos para Plataforma Deportiva (Modelo Entidad-Relación).docx